# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py

*.log
*.hepmc
*.root
*.npz
*.csv
s-channel_ckkwl-v0/s
s-channel_ckkwl-v1/s
s-channel_ckkwl-v2/s
s-channel_ckkwl-v2-X/s
s-channel_ckkwl-v3/s
s-channel_ckkwl-v2/s.tar.gz
s_ckkwl_tms50/s
s_ckkwl_tms100/s
